GRPC_SERVER_URL_PAYMENTS=localhost:50047
PAYMENTS_WEB_PORT=4242

GRPC_SERVER_URL_USERS=localhost:50051
GRPC_SERVER_URL_PRODUCTS=localhost:50050
GRPC_SERVER_URL_ORDERS=localhost:50048

STRIPE_SECRET_KEY=🤫
STRIPE_WEBHOOK_WHSEC=🤫

