DATABASE_URL="postgres://postgres:postgres@localhost:5432/order-service"
GRPC_SERVICE_URL_CART="localhost:50049"
GRPC_SERVICE_URL_ORDER="localhost:50048"
GRPC_SERVICE_URL_PAYMENT="localhost:50047"
MQTT_URL="mqtt://localhost:1883"
