PAYMENTS_GRPC_LISTEN_URL=localhost:50047
PAYMENTS_WEB_PORT=4242

USERS_GRPC_SERVER_URL=localhost:50051
PRODUCTS_GRPC_SERVER_URL=localhost:50050
ORDERS_GRPC_SERVER_URL=localhost:50048

STRIPE_SECRET_KEY=🤫
STRIPE_WEBHOOK_WHSEC=🤫

