GRPC_SERVER_URL_USERS=localhost:50051
GRPC_SERVER_URL_PRODUCTS=localhost:50050
GRPC_SERVER_URL_CARTS=localhost:50049
GRPC_SERVER_URL_ORDERS=localhost:50048
GRPC_SERVER_URL_PAYMENTS=localhost:50047

JWT_SECRET=🤫

SWAGGER_PATH="/"
SWAGGER_JSON_DOCUMENT_URL="/document.json"

PORT=3000
