MAILTRAP_ACCOUNT_ID=
MAILTRAP_INBOX_ID=
MAILTRAP_SENDER_EMAIL=
MAILTRAP_SENDER_NAME=
MAILTRAP_TEMPLATE_ID_ORDER_PAID=
MAILTRAP_TEMPLATE_ID_USER_REGISTERED=
MAILTRAP_TOKEN=

GRPC_SERVICE_URL_USER="localhost:50051"

MQTT_URL="mqtt://localhost:1883"
